/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2016, 6:46:39 PM
    Author     : vz97
*/

.bordered_pane {
    -fx-background-color: #66ccff;
    -fx-background-radius: 5.0;
    -fx-hgap: 5;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}

.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.new_dialog {
    -fx-background-color: #00e6b8;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
}

.edit_dialog {
    -fx-background-color: #00e6b8;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
}